@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply mx-auto;
}

.hero-person {
  background-image: url("/person.jpg");
  background-size: cover;
  width: 3.5rem;
  height: 3.5rem;
}

.text-24 {
  @apply lg:text-[24px] md:text-[20px] sm:text-[16px] text-[12px];
}

.text-22 {
  @apply lg:text-[22px] md:text-[18px] sm:text-[14px] text-[10px];
}



